<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>445595031900-fj548c7cd141s9qfcbhq7flu5lrftbrf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.445595031900-fj548c7cd141s9qfcbhq7flu5lrftbrf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>445595031900-6erqqc4c0tt606tbuf53daahpnp308ea.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDhKX2Q2A1CpMqDy5N_ayKlUrwYZFHcSkg</string>
	<key>GCM_SENDER_ID</key>
	<string>445595031900</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.caffeineflow.snacksavers</string>
	<key>PROJECT_ID</key>
	<string>snacksavers-6300d</string>
	<key>STORAGE_BUCKET</key>
	<string>snacksavers-6300d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:445595031900:ios:473b07949b49153da68999</string>
</dict>
</plist>